{:tel-aviv
 {:name "Tel Aviv"
  :country "Israel"
  :center [34.7818 32.0853] ; [lng lat]
  :famous? true
  :neighbors [:ramat-gan :givatayim :holon :bat-yam :yafo]
  ;; More accurate Tel Aviv boundary approximation
  ;; Based on major streets: Yarkon River (north), Ayalon Highway (east), 
  ;; Holon border (south), Mediterranean Sea (west)
  :boundary [[34.7400 32.1200] ; Northwest - north of Yarkon
             [34.8100 32.1200] ; Northeast - Yarkon/Ayalon junction
             [34.8100 32.0950] ; East - Ayalon Highway north
             [34.8150 32.0800] ; Southeast - Ayalon south  
             [34.8000 32.0600] ; South - border with Holon
             [34.7600 32.0500] ; Southwest - Jaffa area
             [34.7400 32.0550] ; West central - coastline
             [34.7400 32.0800] ; Northwest coast
             [34.7400 32.1200]]} ; Close polygon

 :ramat-gan
 {:name "Ramat Gan"
  :country "Israel"
  :center [34.8131 32.0853] ; [lng lat]
  :famous? false
  :neighbors [:tel-aviv :givatayim :bnei-brak :or-yehuda]
  ;; Ramat Gan - east of Tel Aviv, bounded by Ayalon Highway
  :boundary [[34.8100 32.1100] ; Northwest
             [34.8450 32.1100] ; Northeast
             [34.8450 32.0600] ; Southeast
             [34.8250 32.0500] ; South
             [34.8100 32.0600] ; Southwest
             [34.8100 32.0950] ; West - Ayalon Highway
             [34.8100 32.1100]]} ; Close polygon

 :givatayim
 {:name "Givatayim"
  :country "Israel"
  :center [34.8095 32.0720] ; [lng lat]
  :famous? false
  :neighbors [:tel-aviv :ramat-gan]
  ;; Small city between Tel Aviv and Ramat Gan
  :boundary [[34.8000 32.0900] ; Northwest
             [34.8200 32.0900] ; Northeast
             [34.8200 32.0650] ; Southeast
             [34.8100 32.0600] ; South
             [34.8000 32.0600] ; Southwest
             [34.8000 32.0750] ; West
             [34.8000 32.0900]]} ; Close polygon

 :bnei-brak
 {:name "Bnei Brak"
  :country "Israel"
  :center [34.8333 32.0807] ; [lng lat]
  :famous? false
  :neighbors [:ramat-gan :petah-tikva :or-yehuda]
  ;; Northeast of Ramat Gan
  :boundary [[34.8250 32.1000] ; Northwest
             [34.8500 32.1000] ; Northeast
             [34.8500 32.0700] ; Southeast
             [34.8350 32.0650] ; South
             [34.8250 32.0700] ; Southwest
             [34.8250 32.0850] ; West
             [34.8250 32.1000]]} ; Close polygon

 :holon
 {:name "Holon"
  :country "Israel"
  :center [34.7772 32.0116] ; [lng lat]
  :famous? false
  :neighbors [:tel-aviv :bat-yam :rishon-lezion]
  ;; South of Tel Aviv
  :boundary [[34.7500 32.0500] ; Northwest
             [34.8000 32.0500] ; Northeast
             [34.8100 32.0200] ; East
             [34.7800 31.9800] ; Southeast
             [34.7400 31.9850] ; Southwest
             [34.7400 32.0200] ; West
             [34.7500 32.0500]]} ; Close polygon

 :bat-yam
 {:name "Bat Yam"
  :country "Israel"
  :center [34.7458 32.0167] ; [lng lat]
  :famous? false
  :neighbors [:tel-aviv :holon :yafo]
  ;; Coastal city southwest of Tel Aviv
  :boundary [[34.7350 32.0350] ; North - border with Tel Aviv
             [34.7550 32.0300] ; Northeast
             [34.7600 32.0100] ; East - border with Holon
             [34.7550 31.9950] ; Southeast
             [34.7350 31.9900] ; Southwest
             [34.7250 32.0000] ; West coast
             [34.7250 32.0250] ; Northwest coast
             [34.7350 32.0350]]} ; Close polygon

 :yafo
 {:name "Yafo"
  :country "Israel"
  :center [34.7520 32.0546] ; [lng lat] - Old Jaffa area
  :famous? true
  :neighbors [:tel-aviv :bat-yam]
  ;; Historic Jaffa - now part of Tel Aviv-Yafo but distinct area
  :boundary [[34.7450 32.0700] ; North
             [34.7650 32.0650] ; Northeast
             [34.7700 32.0500] ; East
             [34.7600 32.0350] ; Southeast
             [34.7400 32.0400] ; Southwest
             [34.7350 32.0550] ; West coast
             [34.7450 32.0700]]} ; Close polygon

 :ramat-hasharon
 {:name "Ramat Hasharon"
  :country "Israel"
  :center [34.8394 32.1462] ; [lng lat]
  :famous? false
  :neighbors [:herzliya :kfar-saba :hod-hasharon]
  ;; Upscale city north of Tel Aviv
  :boundary [[34.8200 32.1700] ; Northwest
             [34.8600 32.1700] ; Northeast
             [34.8600 32.1300] ; Southeast
             [34.8400 32.1200] ; South
             [34.8200 32.1200] ; Southwest
             [34.8200 32.1450] ; West
             [34.8200 32.1700]]} ; Close polygon

 :or-yehuda
 {:name "Or Yehuda"
  :country "Israel"
  :center [34.8586 32.0306] ; [lng lat]
  :famous? false
  :neighbors [:ramat-gan :azor :givatayim]
  ;; Small city southeast of Ramat Gan
  :boundary [[34.8450 32.0500] ; Northwest
             [34.8750 32.0500] ; Northeast
             [34.8750 32.0150] ; Southeast
             [34.8550 32.0100] ; South
             [34.8450 32.0150] ; Southwest
             [34.8450 32.0300] ; West
             [34.8450 32.0500]]} ; Close polygon

 :jerusalem
 {:name "Jerusalem"
  :country "Israel"
  :center [35.2137 31.7683] ; [lng lat]
  :famous? true
  :neighbors [:bethlehem :maale-adumim :mevaseret-zion]
  ;; Jerusalem - approximate boundaries
  :boundary [[35.1500 31.8200] ; Northwest
             [35.2800 31.8200] ; Northeast
             [35.2800 31.7000] ; Southeast
             [35.1500 31.7000] ; Southwest
             [35.1500 31.8200]]} ; Close polygon
 }